.main-menu
  %button.btn.btn-primary{:type => "button"}
    %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
  %button.btn.btn-primary{:type => "button"}    
    %span.glyphicon.glyphicon-briefcase{"aria-hidden" => "true"}
  %button.btn.btn-primary{:type => "button"}    
    %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
