%p Great ! Can you give us some details about this apartment ?

= a.input :nrooms,        :label => "How many rooms does it have ?"
= a.input :floor,         :label => "In what floor is it ?"
= a.input :lift,          :label => "Does the building have a lift ?"
= a.input :security,      :label => "Is there some sort security in the building ?"

/ Later we can showa message depending on which floor is this apartment
/ "Wow, 4 floors is high enough ! Does the building have a lift ?"