%h3 Your next bookings

%table.table
  - @bookings.each do |booking|
    %tr
      %td
        =link_to booking.stay.title, booking_path(booking.id)
      %td
        = booking.date_from
      %td
        = booking.date_to
      %td
        = booking.status