%h3 Your booking at #{@booking.stay.title}

%table.table
  %tr
    %td
      =link_to @booking.stay.title, stay_path(@booking.stay.id)
    %td
      = @booking.date_from
    %td
      = @booking.date_to
    %td
      = @booking.status