- content_for :title do
  Your booking at #{@booking.stay.title}

- content_for :subheader do
  / = link_to "Host dashboard", dashboard_path

.bookings-show
  This is your booking at #{@booking.stay.title}
