!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi #{@user.first_name} !
    %p
      Thanks for booking a stay with Nomad Stays.

    %p Your host is new reviewing your booking, you will receive a confirmation once he will accept or not your stay. Don't worry, it won't take more than 24h.

    %p The team of Nomad Stays