!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi #{@host.first_name}, we have one good news for you!
    %p
      #{@nomad.full_name} has requested a booking in #{@stay.title}

    %p You can see all the information from this request and decide if you want to accept ir or not by clicking here:

    %p Link goes here

    %p The team of Nomad Stays