!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi #{@booking.stay.user.first_name},
    %p
      We are sorry to tell you that #{@booking.user.first_name} has cancelled his booking for #{@booking.stay.title}

    %p 
      For further information you can contact #{@booking.user.first_name} through the website.

    %p
      The team of Nomad Stays