/* ==========================================================================
   Bootstrap override
   ========================================================================== */

h3 {
  margin-bottom: 20px
}


/* ==========================================================================
   Layout
   ========================================================================== */

.main-menu {

  width: 80px;
  padding: 10px;

  .btn {
    width: 75px;
    height: 75px;

    margin-bottom: 10px;

    a {
      color: white;
    }
  }

  .glyphicon {
    font-size: 30px;
  }
}

.main-panel {
  padding-bottom: 10px;
}


/* ==========================================================================
    Users
   ========================================================================== */

form.new_user, form.edit_user {
  width: 25%;

  .user_birthdate {

    label {
      width: 100%;
    }

    select {
      width: 33.33%;
      float: left;
    }

  }
}

.signon-links {
  margin-top: 10px
}

.gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; 
}

/* ==========================================================================
   Stay
   ========================================================================== */

/*
 * New
 */

.new_stay {
  .map-container {
    margin-top: 25px;
  }

  #accomodation_is_apartment, #accomodation_is_house, #accomodation_is_room {
    display: none;
  }

  #extra-services {
    div.integer {
      display: none;
    }
  }    

}

/* ==========================================================================
   Bookings
   ========================================================================== */

/*
 * New
 */

#new-booking {

  #extra-services {

    /* Price */

    div.integer {
      display: none;

      input.integer {
        background-color: white;
      }
    }

  }

  #bill {

    /* Extra services */

    tr.extra-service {
      display: none;
    }

    /* Total */

    tr#total {
      font-weight: bold;
    }
  }    

}
