/* ==========================================================================
   Fonts
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);


/* ==========================================================================
   Bootstrap override
   ========================================================================== */

h3 {
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;  
}

a {
  color: #333333;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

/* ==========================================================================
   Layout
   ========================================================================== */

body {
  // font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding: 0;
}

.header {
  background-color: #3F51B5;
  padding: 5px;
  height: 50px;

  .logo {
    img {
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }
  }

  .title {
    margin-left: -50px;
    line-height: 45px;
    font-weight: 200;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    color: white;
  }

}

.subheader {
  background-color: #303F9F;
  height: 35px;
  padding: 5px 5px 5px 15px;

  // .glyphicon {
  //   padding: 0 10px 0 10px;
  //   font-size: 20px;
  //   color: white;
  // }

  a {
    padding-right: 15px;
    font-size: 15px;
    color: white;
    font-weight: 400;
  }

}

.main-panel {
  width: 100%;
}

p.subtitle {
  font-weight: 300;
  font-size: 15px;
}

.with-padding {
  padding: 10px;
}

/* ==========================================================================
   General
   ========================================================================== */

.datepicker.availability-calendar {
  td {
    border: none !important;
  }

  .disabled, .disabled:hover {
    border: none !important;
    border-radius: 0;

    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;      // background-color: red;

  }
}  

/* ==========================================================================
    Users
   ========================================================================== */

form.new_user, form.edit_user {
  width: 25%;

  .user_birthdate {

    label {
      width: 100%;
    }

    select {
      width: 33.33%;
      float: left;
    }

  }
}

.signon-links {
  margin-top: 10px
}

.gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; 
}

/* ==========================================================================
   Stays
   ========================================================================== */

/*
 * New
 */

#stays-new {

  width: 50%;

  .map-container {
    margin-top: 25px;
  }

  #accomodation_is_apartment, #accomodation_is_house, #accomodation_is_room {
    display: none;
  }

  #extra-services {
    div.integer {
      display: none;
    }
  }    

}

#stays-edit {

  width: 50%;

  .photos {
    .photo {
      width: 220px;
      float: left;
      padding: 10px;

      .delete {
        float: left;
        width: 50%;
        padding: 5px;
      } 

      .set-as-cover {
        float: right;
        width: 50%;
        padding: 5px;
        text-align: right;
      }    
    }
  }   

}


/*
 * Show
 */

#stays-index {

  .form-container {

    .panel-default {
      margin-top: 10px;
      margin-bottom: 0;
      border: none;
      box-shadow: none;

      .panel-body {
        padding: 10px;
      }
    }

    .form-bottom {
      margin-top: 15px;

      .accomodation-type {
        width: 20%;
        float: left;          
      }

      .price-range {
        width: 22%;
        float: left;
        margin-left: 20px;

        .q_monthly_price_lt {
          float: left;
          width: 45%;
        }

        .q_monthly_price_gt {
          float: right;
          width: 45%;
        }
      }

      input[type="submit"] {
        float: left;
        width: 10%;
        margin-left: 15px;
        background-color: #3F51B5;
        color: white;
        font-family: "Roboto";
        font-weight: 300;
      }

    }
  }

  .stay-cards-container {

    .stay-card {
      float: left;

      width: 300px;
      height: 250px;
      margin: 10px;

      .photo {
        position: relative;
        z-index: -1;        
        width: inherit;
        height: 200px;

        background: no-repeat center;

        .price {
          position: absolute;
          bottom: 20px;
          right: 0;
          padding: 5px;
          z-index: 0;
          font-size: 18px;          
          font-weight: 100;    
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); 
          color: #FFEB3B;        
        }

      }

      .info {
        height: 50px;
        background-color: #303F9F;

        .title {
          float: left;
          width: 100%;
          margin: 0 auto;
          padding: 10px;
          text-align: center;
          // font-family: "Roboto";
          font-size: 16px;              
          font-weight: 200;
          color: white;
        }

      }

    }

  }

}

#show-stay {

  width: inherit;

  .photo-overlay {
    width: inherit;
    height: 500px;
    // margin-top: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));    
    z-index: 0;

    .title {
      font-size: 50px;
      font-weight: 200;
      color: #FFFFFF;
      z-index: 0;
      position: absolute;
      text-align: center;
      width: inherit;
      top: 300px;
    }      

    .price {
      font-size: 25px;
      font-weight: 100;
      color: #FFFFFF;
      z-index: 0;
      position: absolute;
      text-align: center;
      width: inherit;
      top: 360px;
    }      

    .photo {
      background: no-repeat center center fixed;
      background-size: cover;
      position: relative;
      width: inherit;
      height: inherit;
      z-index: -1;
    }

  }  

  .photo-subheader {
    // width: 95%;
    height: 80px;
    margin: 0 auto;
    background-color: #3F51B5;
    border-bottom: 1px solid #b6b6b6;

    .extra-services {
      font-family: Roboto;
      color: #FFFFFF !important;

      .service {
        float: left;
        padding: 10px;
        text-align: center;
        font-weight: 100;

        .title {
          font-size: 25px;
        }
        .price {
          font-size: 15px;
        }
      }

    }

    .bookit {
      float: right;
      font-family: "Roboto";
      font-size: 35px;
      font-weight: 100;
      padding: 15px;

      a {
        color: #FFEB3B;
      }
    }

  }

  .content {
    width: 95%;
    margin: 0 auto;    

    .overview {
      .description {
        float: left;
        width: 50%;
        margin-top: 20px;
        font-size: 17px;

        .rate {
          h3 {
            margin-bottom: 20px;
            font-family: Roboto;
            font-size: 30px;
            font-weight: 300;        
          }
        }

      }      

      .photos {
        width: 50%;
        float: right;

        img {
          padding: 10px;
        }
      }
    }

  }

  .map-wrapper {
    #latitude, #longitude {
      display: none;
    }

    #map-container {
      width: 100%;

      #map {
        width: 100%;
        height: 400px;
      }
    }
  }  

}

/* ==========================================================================
   Bookings
   ========================================================================== */

/*
 * New
 */

#new-booking {

  #extra-services {

    /* Price */

    div.integer {
      display: none;

      input.integer {
        background-color: white;
      }
    }

  }

  #bill {

    /* Extra services */

    tr.extra-service {
      display: none;
    }

    /* Total */

    tr#total {
      font-weight: bold;
    }
  }    

}

/*
 * Admin booking
 */

 .booking-admin {

  .nomad-request {

    width: 600px;
    height: 80px;

    margin-bottom: 30px;

    .left {
      width: auto;
      float: left;
      padding: 20px 10px 20px 0;
    }

    .right {
      width: 530px;
      float: right;

      h3 {
        margin-bottom: 5px;
        font-size: 26px;
      }

      p {
        font-size: 16px;
        font-weight: 300;
      }

    }

  }

  .action {
    margin: 0 0 40px 60px;

    button {
      width: 150px;
      margin: 0 10px;
    }
  }

 }

/* ==========================================================================
   Host dashboard
   ========================================================================== */

.host-dashboard {

  .stays-wrapper {
    width: inherit;
    height: 500px;

    .stay-card {
      float: left;
      width: 150px;
      height: 200px;
      margin: 10px;

      border: 1px solid black;
    }

  }

  .booking {
    padding: 5px 0;

    font-size: 16px;
  }
}
