.title {
	margin-bottom: 20px
}

form.new_user, form.edit_user {
	width: 25%;

	.user_birthdate {

		label {
	    width: 100%;
		}

		select {
	    width: 33.33%;
	    float: left;
		}

	}
}

.signon {
	margin-top: 10px
}