.title {
	margin-bottom: 20px
}


/* ==========================================================================
   Layout
   ========================================================================== */

.main-menu {

	width: 80px;
	padding: 10px;

	.btn {
		width: 75px;
		height: 75px;

		margin-bottom: 10px;
	}

	.glyphicon {
		font-size: 30px;
	}
}


/* ==========================================================================
		Users
	 ========================================================================== */

form.new_user, form.edit_user {
	width: 25%;

	.user_birthdate {

		label {
	    width: 100%;
		}

		select {
	    width: 33.33%;
	    float: left;
		}

	}
}

.signon-links {
	margin-top: 10px
}

.gravatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;	
}
